<div class="config-data">
    <ul class="p-0 text-dark d-flex flex-column gap-5">
        <li class="w-100">
            <details>
                <summary class="d-flex align-self-center show-user-jobs">
                    <i class="bi bi-plus-circle-dotted me-2 fs-5 text-success"></i>
                    <h3>Add new <span class="text-primary fw-bold">J</span>ob</h3>
                </summary>
                <div class="w-100 bg-light p-2 border rounded">
                    <div class="w-100 text-dark mb-3">
                        <label for="job" class="form-label fw-medium px-1 w-100 text-center">Job form</label>
                            <div class="d-flex flex-column gap-4">
                                <input class="form-control" placeholder="Job's name..." id="job" name="job" type="text">
                                <input class="form-control" placeholder="Position..." id="jobposition" name="jobposition" type="text" />
                                <input class="form-control" placeholder="dd/mm/yyyy..." id="jobstartdate" name="jobstartdate" type="date" />
                                <input class="form-control" placeholder="dd/mm/yyyy..." id="jobenddate" name="jobenddate" type="date" />
                                <input class="form-control" placeholder="Location..." id="joblocation" name="joblocation" type="text" />
                                <input class="form-control" placeholder="Mode..." id="jobmode" name="jobmode" type="text" />
                                <textarea class="form-control" placeholder="Description..." id="jobdescription" name="jobdescription" cols="60" rows="3"></textarea>
                                <button class="btn btn-outline-success btn-block send-job" type="button">Add</button>
                            </div>
                    </div>
                    <h4 class="text-center">List</h4>
                    <hr>
                    <ul class="user-jobs-list d-flex flex-column gap-4 p-2">

                    </ul>
                </div>
            </details>
        </li>
        <li class="w-100">
            <details>
                <summary class="d-flex align-self-center show-user-educations">
                    <i class="bi bi-plus-circle-dotted me-2 fs-5 text-success"></i>
                    <h3>Add new <span class="text-primary fw-bold">E</span>ducation</h3>
                </summary>
                <div class="w-100 bg-light p-2 border rounded">
                    <div class="w-100 text-dark mb-3">
                        <label for="education" class="form-label fw-medium px-1 w-100 text-center">Education form</label>
                        <div class="d-flex flex-column gap-4">
                            <div>
                                <label for="education" class="form-label fw-medium px-1">Name:</label>
                                <input class="form-control" placeholder="Education's name..." id="education" name="education" type="text">
                            </div>
                            
                            <div>
                                <label for="educationdescription" class="form-label fw-medium px-1">Description:</label>
                                <textarea class="form-control" placeholder="Description..." id="educationdescription" name="educationdescription" cols="60" rows="3"></textarea>
                            </div>
                            
                            <div>
                                <label for="educationlocation" class="form-label fw-medium px-1">Location:</label>
                                <input class="form-control" placeholder="Location..." id="educationlocation" name="educationlocation" type="text" />
                            </div>
                            
                            <div class="input-group mb-3 row mx-0">
                                <label for="education_file" class="form-label fw-medium px-1">File:</label>
                                <div id="previewFormContainer"></div>
                                <input type="file" class="form-control education_file" id="education_file" accept=".pdf,.png,.jpeg,.jpg" multiple="false">
                                <small class="text-danger">Only (pdf, png, jpeg, jpg) allowed.</small>
                            </div>

                            <div>
                                <label for="educationdocument_display_option" class="form-label fw-medium px-1">Display option:</label>
                                <select class="form-select" name="educationdocument_display_option" id="educationdocument_display_option">
                                    <option value="0" selected>Hide</option>
                                    <option value="1">Show only</option>
                                    <option value="2">Download only</option>
                                </select>
                            </div>
                            <button class="btn btn-outline-success btn-block send-education" type="button">Add</button>
                        </div>                    </div>
                    <ul class="user-educations-list d-flex flex-column gap-4 p-2">

                    </ul>
                </div>
            </details>
        </li>
        <li class="w-100">
            <details>
                <summary class="d-flex align-self-center show-user-skills">
                    <i class="bi bi-plus-circle-dotted me-2 fs-5 text-success"></i>
                    <h3>Add new <span class="text-primary fw-bold">S</span>kill</h3>
                </summary>
                <div class="w-100 bg-light p-2 border rounded">
                    <div class="w-100 text-dark mb-3">
                        <label for="skill" class="form-label fw-medium px-1 w-100 text-center">Skill form</label>
                        <div class="input-group input-group-sm mb-3">
                            <input class="form-control" placeholder="Write a skill..." id="skill" name="skill" type="text">
                            <button class="btn btn-outline-success send-skill" type="button">Add</button>
                        </div>
                    </div>
                    <h4 class="text-center">List</h4>
                    <hr>
                    <ul class="user-skills-list d-flex flex-column gap-4 p-2"></ul>
                </div>
            </details>
        </li>
        <li class="w-100">
            <details>
                <summary class="d-flex align-self-center show-user-socials">
                    <i class="bi bi-plus-circle-dotted me-2 fs-5 text-success"></i>
                    <h3>Add new <span class="text-primary fw-bold">S</span>ocial</h3>
                </summary>
                <div class="w-100 bg-light p-2 border rounded">
                    <div class="w-100 text-dark mb-3">
                        <label for="social" class="form-label fw-medium px-1 w-100 text-center">Social form</label>
                        <div class="d-flex flex-column gap-4">
                            <div>
                                <label for="social" class="form-label fw-medium px-1">Social:</label>
                                <input class="form-control" placeholder="Social's name..." id="social" name="social" type="text">
                            </div>
                            <div>
                                <label for="socialdescription" class="form-label fw-medium px-1">Description:</label>
                                <textarea class="form-control" placeholder="Description..." id="socialdescription" name="socialdescription" cols="60" rows="3"></textarea>
                            </div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="social-is-portfolio">Is portfolio</label>
                                <input class="form-check-input social-is-portfolio" type="checkbox" role="switch" id="social-is-portfolio">
                            </div>
                            <div>
                                <label for="social-link" class="form-label fw-medium px-1">Link:</label>
                                <input class="form-control" placeholder="https://" id="social-link" name="social-link" type="text">
                            </div>
                            <button class="btn btn-outline-success send-social" type="button">Add</button>
                        </div>
                    </div>
                    <h4 class="text-center">List</h4>
                    <hr>
                    <ul class="user-socials-list d-flex flex-column gap-4 p-2"></ul>
                </div>
            </details>
        </li>
    </ul>
</div>

<script>

    document.getElementById('education_file').addEventListener('change', function() {
        var file = this.files[0]; // Obtener el archivo seleccionado
        
        if (file) {
            var previewContainer = document.getElementById('previewFormContainer');
            previewContainer.innerHTML = ''; // Limpiar el contenedor de vista previa
            
            var fileType = file.type; // Obtener el tipo MIME del archivo
            
            if (fileType.startsWith('image/')) {
                // Si es una imagen, mostrarla en una etiqueta img
                var img = document.createElement('img');
                img.classList.add("bg-secondary") // Añadir un fondo por defecto
                img.src = URL.createObjectURL(file); // Crear una URL para la imagen seleccionada
                img.style.maxWidth = '100%'; // Establecer un ancho máximo para la imagen
                previewContainer.appendChild(img); // Agregar la imagen al contenedor de vista previa
            } else if (fileType === 'application/pdf') {
                // Si es un PDF, mostrarlo en una etiqueta embed
                var embed = document.createElement('embed');
                embed.classList.add("bg-secondary") // Añadir un fondo por defecto
                embed.src = URL.createObjectURL(file); // Crear una URL para el PDF seleccionado
                embed.type = 'application/pdf'; // Especificar el tipo MIME del PDF
                embed.width = '100%'; // Establecer el ancho del embed al 100% del contenedor
                embed.height = '600'; // Establecer una altura fija para el PDF
                previewContainer.appendChild(embed); // Agregar el embed al contenedor de vista previa
            } else {
                // Si es otro tipo de archivo, mostrar un mensaje de error
                previewContainer.innerHTML = '<p>Unsupported file type</p>';
            }
        }
    });

    document.querySelector(".show-user-skills").closest('details').addEventListener('click', function(){
        if (!this.hasAttribute("open")) {
            getAllUserSkills(getLocalStorageValue("id_user"));
        }
    })
    document.querySelector(".show-user-jobs").closest('details').addEventListener('click', function(){
        if (!this.hasAttribute("open")) {
            getAllUserJobs(getLocalStorageValue("id_user"));
        }
    })
    document.querySelector(".show-user-educations").closest('details').addEventListener('click', function(){
        if (!this.hasAttribute("open")) {
            getAllUserEducations(getLocalStorageValue("id_user"));
        }
    })
    document.querySelector(".show-user-socials").closest('details').addEventListener('click', function(){
        if (!this.hasAttribute("open")) {
            getAllUserSocials(getLocalStorageValue("id_user"));
        }
    })
    
    document.querySelector('.send-job').addEventListener('click', function () {
        // Capturar los valores del formulario
        let job = $('#job').val();
        let jobposition = $('#jobposition').val();
        let jobstartdate = $('#jobstartdate').val();
        let jobenddate  = $('#jobenddate').val();
        let joblocation = $('#joblocation').val();
        let jobmode = $('#jobmode').val();
        let jobdescription  = $('#jobdescription').val();
        // Construir el objeto con los datos del formulario
        var formData = {
            Name: job,
            Position: jobposition,
            Start_date: jobstartdate,
            End_date: jobenddate,
            Location: joblocation,
            Mode: jobmode,
            Description: jobdescription,
            Status: true,
            Id_User: parseInt(getLocalStorageValue("id_user"))
        };

        postJob(formData);
    })
    document.querySelector('.send-education').addEventListener('click', function () {
        // Capturar los valores del formulario
        let education = $('#education').val();
        let educationdescription  = $('#educationdescription').val();
        let educationlocation = $('#educationlocation').val();
        let education_file = document.querySelector('#education_file').files[0];
        let educationdocument_display_option = $('#educationdocument_display_option').val();

        // Construir el objeto con los datos del formulario
        var formData = new FormData()
        formData.append("Name", education);
        formData.append("Description", educationdescription);
        formData.append("Location", educationlocation);
        formData.append("Document_Display_Option", parseInt(educationdocument_display_option));
        formData.append("file", education_file);
        formData.append("Id_User", parseInt(getLocalStorageValue("id_user")));
        postEducation(formData);
    })
    document.querySelector('.send-skill').addEventListener('click', function () {
        // Capturar los valores del formulario
        var skill = $('#skill').val();

        // Construir el objeto con los datos del formulario
        var formData = {
            Name: skill,
            Id_User: parseInt(getLocalStorageValue("id_user"))
        };

        postSkill(formData);
    })
    document.querySelector('.send-social').addEventListener('click', function () {
        // Capturar los valores del formulario
        var social = $('#social').val();
        var description = $('#socialdescription').val();
        var is_portfolio = document.querySelector('#social-is-portfolio').checked;
        var link = $('#social-link').val();

        // Construir el objeto con los datos del formulario
        var formData = {
            Name: social,
            Description: description,
            Is_Portfolio: is_portfolio,
            Link: link,
            Id_User: parseInt(getLocalStorageValue("id_user"))
        };

        postSocial(formData);
    })

</script>